
.logoimg { float: left !important; }

.logotxt { line-height: 65px; }

.headerRightText {
	line-height: 95px;
	font-weight: bold;
	color: white;
	position: absolute;
	left: 0px;
	right: 0px;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
}

.side-nav { top: 100px; }

#page-wrapper { padding: 85px 25px 0; }

.font12 { font-size: 12px; }

th { text-align: center; }

/****Added By Yeswanth --- 07-04-2016  - update-1 14-4-2016****/

.side-nav.nav label.sub-menu-cont-lvl-2 {
	background: url(images/side-menu-left.png) no-repeat scroll left center, url(images/side-menu-right.png) no-repeat scroll right center, url(images/side-menu-center.png) repeat-x scroll left center;
	color: #000;
	text-align: center;
	padding: 0;
	border-radius: 50px;
	display: table;
	height: 44px;
	position: relative;
	width: 100%;
	margin: 0;
}

.side-nav.nav label.sub-menu-cont-lvl-2 > a {
	display: table-cell;
	line-height: 13px;
	height: 20px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	background: none;
}

.side-nav.nav > li label .caret { z-index: 1; }

/****Menu-LED-Indicator****/

/****Fixing Overlap Issue*****/
.side-nav.nav > li > ul li > a > label, .side-nav.nav > li > a > label { padding: 0 28px; }

.side-nav li .led-indicator, .side-nav li .led-indicator ~ ul > li > a { position: relative !important; }

.side-nav li .led-indicator:before, .side-nav li .led-indicator ~ ul > li > a:before { /**centerDot**/
	content: '';
	position: absolute;
	width: 6px;
	height: 6px;
	left: 16px;
	top: 12px;
	background-color: transparent;
	border-radius: 50%;
	z-index: 1;
}

.side-nav li .led-indicator:after, .side-nav li >.led-indicator ~ ul > li > a:after { /**outline**/
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	left: 15px;
	top: 11px;
	background-color: transparent;
	border-radius: 50%;
}

/**Light-Green LED Indicator**/
.side-nav li .led-indicator.shownDrop.light-green-led:before, .side-nav li .led-indicator.shownDrop.light-green-led ~ ul > li > a:before { background-color: #80ea00; }

.side-nav li .led-indicator.shownDrop.light-green-led:after, .side-nav li .led-indicator.shownDrop.light-green-led ~ ul > li > a:after {
	background-color: greenyellow;
	box-shadow: 0 0 4px 1px greenyellow;
}

/**Pink LED Indicator**/

.side-nav li .led-indicator.shownDrop.pink-led:before, .side-nav li .led-indicator.shownDrop.pink-led ~ ul > li > a:before { background-color: #F723F2; }

.side-nav li .led-indicator.shownDrop.pink-led:after, .side-nav li .led-indicator.shownDrop.pink-led ~ ul > li > a:after {
	background-color: #fca2f7;
	box-shadow: 0 0 4px 1px #fca2f7;
}

/**Blue LED Indicator**/
.side-nav li .led-indicator.shownDrop.blue-led:before, .side-nav li .led-indicator.shownDrop.blue-led ~ ul > li > a:before { background-color: #00dfd4; }

.side-nav li .led-indicator.shownDrop.blue-led:after, .side-nav li .led-indicator.shownDrop.blue-led ~ ul > li > a:after {
	background-color: #a4fff2;
	box-shadow: 0 0 4px 1px #a4fff2;
}

/**Violet LED Indicator**/
.side-nav li .led-indicator.shownDrop.violet-led:before, .side-nav li .led-indicator.shownDrop.violet-led ~ ul > li > a:before { background-color: #8535e7; }

.side-nav li .led-indicator.shownDrop.violet-led:after, .side-nav li .led-indicator.shownDrop.violet-led ~ ul > li > a:after {
	background-color: #dcb8ff;
	box-shadow: 0 0 4px 1px #dcb8ff;
}

/**Yellow LED Indicator**/
.side-nav li .led-indicator.shownDrop.yellow-led:before, .side-nav li .led-indicator.shownDrop.yellow-led ~ ul > li > a:before { background-color: #cfb400; }

.side-nav li .led-indicator.shownDrop.yellow-led:after, .side-nav li .led-indicator.shownDrop.yellow-led ~ ul > li > a:after {
	background-color: #ffde00;
	box-shadow: 0 0 4px 1px #ffde00;
}

/**Orange LED Indicator**/
.side-nav li .led-indicator.shownDrop.orange-led:before, .side-nav li .led-indicator.shownDrop.orange-led ~ ul > li > a:before { background-color: #d64f00; }

.side-nav li .led-indicator.shownDrop.orange-led:after, .side-nav li .led-indicator.shownDrop.orange-led ~ ul > li > a:after {
	background-color: #ffc095;
	box-shadow: 0 0 4px 1px #ffc095;
}

/**Green LED Indicator**/
.side-nav li .led-indicator.shownDrop.green-led:before, .side-nav li .led-indicator.shownDrop.green-led ~ ul > li > a:before { background-color: #00dc50; }

.side-nav li .led-indicator.shownDrop.green-led:after, .side-nav li .led-indicator.shownDrop.green-led ~ ul > li > a:after {
	background-color: #4dff8e;
	box-shadow: 0 0 4px 1px #4dff8e;
}

/**Red LED Indicator**/
.side-nav li .led-indicator.shownDrop.red-led:before, .side-nav li .led-indicator.shownDrop.red-led ~ ul > li > a:before { background-color: #ce0400; }

.side-nav li .led-indicator.shownDrop.red-led:after, .side-nav li .led-indicator.shownDrop.red-led ~ ul > li > a:after {
	background-color: #fdaaa6;
	box-shadow: 0 0 4px 1px #fdaaa6;
}

/***UPDATE -- New Color LED Indicator - 21-04-2016 ***/

/**Dark Blue LED Indicator**/
.side-nav li .led-indicator.shownDrop.dark-blue-led:before, .side-nav li .led-indicator.shownDrop.dark-blue-led ~ ul > li > a:before { background-color: #1581A7; }

.side-nav li .led-indicator.shownDrop.dark-blue-led:after, .side-nav li .led-indicator.shownDrop.dark-blue-led ~ ul > li > a:after {
    background-color: #63C7EA;
    box-shadow: 0 0 4px 1px #63C7EA;
}


/***Added By Yeswanth -- 18-04-2016***/
/*Nav > certifications table*/

form.workListCertificateForm table.table th {
    padding: 8px 0 !important;
}

form.workListCertificateForm table.table tr td:last-of-type .posrel.icon_align_width > a {
    margin: 0 3px;
}


/****Added By Yeswanth -- 19-04-2016**/
/**input FILE MAX_WIDTH - fixes firefox and for consistency**/

input[type="file"] {
	max-width: 225px;
}
#TextBoxesGroup input[type="file"],.customInputFile {
	margin:10px 0 0;
	padding: 6px 9px !important;
	border-radius:3px;
	overflow:hidden;
	white-space:nowrap;
	background-color:#fff;
	border: 1px solid #ccc;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
@media only screen and (max-width:767px){

	.headerRightText{    width: auto; }
}
@media only screen and (max-width:400px){
	.headerRightText{left: 20%;}
}