.leaflet-marker-icon-wrapper {
	position: absolute;
	/*width:17px;*/
}

.leaflet-marker-iconlabel {
	/*background: #fff;
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-moz-box-shadow: 0 3px 10px #888;
	 -webkit-box-shadow: 0 3px 14px #999;
	box-shadow: 0 3px 10px #888;*/
	display: block;
	font: bolder 18px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	padding: 4px 6px;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	white-space: nowrap;
	color: #FFFFFF;
}